---
import Header from '../../components/en/header.astro';
import Footer from '../../components/footer.astro';

---


<Header />

<div class="margin_body">

    <div id="certifications"></div>

</div>  



<script src="../../scripts/additionals.js"></script>
<Footer />