---
import Header from '../../components/en/header.astro';
import Footer from '../../components/footer.astro';

---

<Header />

<div class="margin_body">

    <div id="xp">
</div>
</div>


<script src="../../scripts/xps.js"></script>
<Footer />