<div style="margin-top: 5rem;" class="margin_body">

<div class="card text-center opacity-75 margin_body">
  <div class="card-header">
    Raúl Reyes Torres
  </div>
  <div class="card-body">
    <a href="https://www.linkedin.com/in/raul-reyes-torres-891b2a20a/" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin fa-xl"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/@raulrt9912" target="_blank" rel="noopener"><i class="fa-brands fa-youtube fa-xl" style="color: #f31212;"></i></a>
  </div>
  <div class="card-footer text-body-secondary">
    Powered by: Flask (backend) and Astro (frontend)
  </div>
</div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7ef5c93a63.js" crossorigin="anonymous"></script>
<script src="../scripts/redirect_lang.js"></script>
</html>